*{
  padding: 0;
  margin: 0;
}
.navbar {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.navbar .navbar-logo {
  height: 50px;
  object-fit: contain;
}
.navbar .nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar .nav-links .nav-link {
  padding: .4rem .8rem;
  margin: 0 .5rem;
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: #fff;
  border-radius: .4rem;
  cursor: pointer;
  transition: .5s background-color;
}
.navbar .nav-links .nav-link:hover {
  background-color:beige;
  color: #000;
}